#page{
    min-height: 88vh;
}

.friend-node{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
    margin-bottom: 6px;
    padding: 6px;
}
.buttons-friend{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.buttons-friend button:not(.del-friend-button){
    margin-bottom: 6px;
}
.del-form,
.add-form{
    align-self: center;
    width: 60%;
    text-align: center;

}
.add-friend-button{
    border-color: black;
    background-color: black;
    color: white;
    width: 100%;
}
.black-button{
    width: 100%;
}

#func-but-panel{
    width: 10vw;
    height: 3vh;
    background-color: black;
    margin-bottom: -4vh;
    display: flex;
    border-radius: 2vw;
    overflow: hidden;
}
#func-but-panel button{
    height: 100%;
    width: calc(50% - 1px);
    border: none;
    display: inline;
    background: none;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    transition: transform 0.01s ease-in-out;
    user-select: none;
}
#func-but-panel button:hover{
    opacity: 1;
}
#func-but-panel button:active{
    transform: scale(0.9);
}
#go-main-but{
    font-weight:900;
}
#line-panel,
#line-header{
    display: inline;
    border-left: 2px solid white;
    height: 100%;
}


#page-header{
    display: flex;
    width: 100%;
    height: 3vh;
    background-color: gainsboro;
}

#page-header .page-header-button,
.page-header-button-active{
    height: 100%;
    width: calc(50% - 1px);
    border: none;
    display: inline;
    background: none;
    color: black;
    font-size: 2vh;
    cursor: pointer;
    transition: border-bottom 0.2s ease-in-out;
    transition: font-size 0.03s ease-in-out;
    border-bottom: 2px solid white;
    user-select: none;
}
#page-header .page-header-button:hover{
    border-bottom-color: black;
}
#page-header .page-header-button:active{
    font-size: calc(2vh - 10%);
}
#line-header{
    border-left-color: black;
}
.page-header-button-active{
    background-color: gainsboro;
    filter: brightness(0.8);
    cursor:auto;
}


.page-container h1{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    width: 100%;
    text-align: center;
    user-select: none;
}
.has{
    background-color: gainsboro;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#request-list-container h1{
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
#request-list-container h1:hover{
    background-color: gainsboro;
}
#search-form-real{
    height: 3vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#search-form-real *{
    height: 100%;
    border: 2px solid black;
    padding: 8px;
}
#search-form-real input{
    box-sizing: border-box;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    width: 30%;
    background-color: gainsboro;
    transition: background-color 0.2s ease-in-out;
}
#search-form-real input:hover,
#search-form-real input:focus{
    background-color: white;
}

#search-form-real button{
    margin-left: -2px;
    cursor: pointer;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background-color: gainsboro;
    transition: background-color 0.2s ease-in-out;
}
#search-form-real button:hover{
    background-color: white;
}
.exit{
    color: black;
    background-color: red;
    border: 2px solid black;
    border-radius: 2vw;
    padding: 4px 7px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    user-select: none;
}
.exit:hover{
    opacity: 1;
}

@media(max-width: 768px){
    #page{
        min-height: 86vh;
        margin-top: 5vh;
    }
    .friend-node{
        grid-template-columns: 22% 48% 30%;
    }
    .friend-node .func-button{
        width: 130%;
    }
    #func-but-panel{
        width: 30vw;
        height: 4vh;
    }
    .edit-form .save-button{
        width: 100%;
        font-size: 70%;
    }
}